schemes/PL_DUAe_V1_01/tiposBasico_v1.01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:duae="http://www.sefaz.es.gov.br/duae" targetNamespace="http://www.sefaz.es.gov.br/duae" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="TDataRef">
		<xs:annotation>
			<xs:documentation>Tipo data de referência AAAA-MM</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="(((20(([02468][048])|([13579][26]))-02))|(20[0-9][0-9])-(((0[1-9])|(1[0-2]))|((((0[13578])|(1[02])))|((0[1,3-9])|(1[0-2])))))"/>
		</xs:restriction>
	</xs:simpleType>  
	<xs:simpleType name="TData">
		<xs:annotation>
			<xs:documentation>Tipo data AAAA-MM-DD</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="(((20(([02468][048])|([13579][26]))-02-29))|(20[0-9][0-9])-((((0[1-9])|(1[0-2]))-((0[1-9])|(1\d)|(2[0-8])))|((((0[13578])|(1[02]))-31)|(((0[1,3-9])|(1[0-2]))-(29|30)))))"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDec_1202">
		<xs:annotation>
			<xs:documentation>Tipo Decimal com 12 dígitos, sendo 10 de corpo e 2 decimais</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="0|0\.[0-9]{2}|[1-9]{1}[0-9]{0,9}(\.[0-9]{2})?"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="TDec_1004">
        <xs:annotation>
            <xs:documentation>Tipo Decimal com 10 dígitos, sendo 6 de corpo e 4 decimais</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="0|0\.[0-9]{1,4}|[1-9]{1}[0-9]{0,5}(\.[0-9]{1,4})?"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TCodMunIBGE">
        <xs:annotation>
            <xs:documentation>Tipo Código do Município da tabela do IBGE</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{5}"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="TCnpj">
		<xs:annotation>
			<xs:documentation>Tipo Número do CNPJ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{14}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCpfCnpj">
		<xs:annotation>
			<xs:documentation>Tipo Número do CPF ou CNPJ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="([0-9]{11})|([0-9]{14})"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCpf">
		<xs:annotation>
			<xs:documentation>Tipo Número do CPF</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCodArea">
		<xs:annotation>
			<xs:documentation>Tipo Código da Área</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCodServico">
		<xs:annotation>
			<xs:documentation>Tipo Código do Serviço</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
  
	<xs:simpleType name="TNumDua">
		<xs:annotation>
			<xs:documentation>Tipo Número do Dua</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{1,10}"/>
		</xs:restriction>
	</xs:simpleType>

  <xs:simpleType name="TNumCda">
    <xs:annotation>
      <xs:documentation>Tipo Número da Certidão da Dívida Ativa</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:whiteSpace value="preserve"/>
      <xs:pattern value="[0-9]{1,9}"/>
    </xs:restriction>
  </xs:simpleType>
  
	<xs:simpleType name="TCodBarra">
		<xs:annotation>
			<xs:documentation>Tipo Número do Código de Barras</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{48}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TAmb">
		<xs:annotation>
			<xs:documentation>Tipo Ambiente</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:enumeration value="1"/>
			<xs:enumeration value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TStat">
		<xs:annotation>
			<xs:documentation>Tipo Código da Mensagem enviada</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{3}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TMotivo">
		<xs:annotation>
			<xs:documentation>Tipo Motivo</xs:documentation>
		</xs:annotation>
		<xs:restriction base="duae:TString">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TProtocolo">
		<xs:annotation>
			<xs:documentation>Tipo Protocolo</xs:documentation>
		</xs:annotation>
		<xs:restriction base="duae:TString">
			<xs:maxLength value="36"/>
			<xs:minLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TProcessamento">
		<xs:annotation>
			<xs:documentation>Tipo Tempo de Processamento</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{1,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCodigoMunicipio">
		<xs:annotation>
			<xs:documentation>Tipo Código do Município</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{4,5}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDescricaoMunicipio">
		<xs:annotation>
			<xs:documentation>Tipo Descrição do Município</xs:documentation>
		</xs:annotation>
		<xs:restriction base="duae:TString">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="TTipoUnidade">
    <xs:annotation>
      <xs:documentation>Tipo Unidade</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TFlagDecimal">
    <xs:annotation>
      <xs:documentation>Flag Decimal</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
      <xs:minLength value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TCodigoOrgao">
        <xs:annotation>
            <xs:documentation>Tipo Código do Órgão</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TDescricaoOrgao">
        <xs:annotation>
            <xs:documentation>Tipo Descrição do Órgão</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TNomeOrgao">
        <xs:annotation>
            <xs:documentation>Tipo Nome do Órgão</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="80"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TSiglaOrgao">
		<xs:annotation>
			<xs:documentation>Tipo Sigla do Órgão</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCodigoArea">
		<xs:annotation>
			<xs:documentation>Tipo Código da Área</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCodigoServico">
		<xs:annotation>
			<xs:documentation>Tipo Código do Serviço</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="TDescricaoArea">
		<xs:annotation>
			<xs:documentation>Tipo Descrição da Área</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TDescricaoServico">
		<xs:annotation>
			<xs:documentation>Tipo Descrição do Serviço</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TCodigoReceita">
		<xs:annotation>
			<xs:documentation>Tipo Código de Receita do Serviço</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[0-9]{1,6}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TRazaoSocial">
		<xs:annotation>
			<xs:documentation>Tipo Razão Social</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:maxLength value="150"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:simpleType name="TInfComp">
        <xs:annotation>
            <xs:documentation>Tipo Informações Complementares</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="256"/>
            <xs:minLength value="0"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TIde">
		<xs:annotation>
			<xs:documentation>Tipo Identificador do Órgão</xs:documentation>
		</xs:annotation>
        <xs:restriction base="duae:TString">
            <xs:maxLength value="30"/>
            <xs:minLength value="0"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TCodPgto">
        <xs:annotation>
            <xs:documentation>Tipo Código do Pagamento:
                0: Dua não Pago
                1: Dua pago mas não consolidado
                2: Dua pago e consolidado
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{1}"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TCodAge">
        <xs:annotation>
            <xs:documentation>Tipo Código da Agência</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TCodAut">
        <xs:annotation>
            <xs:documentation>Tipo Código da Autenticação</xs:documentation>
        </xs:annotation>
        <xs:restriction base="duae:TString">
            <xs:maxLength value="23"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TForPgto">
        <xs:annotation>
            <xs:documentation>Tipo Forma do Pagamento:
                C: cheque
                D: dinheiro
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="duae:TString">
            <xs:maxLength value="1"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TTipCap">
        <xs:annotation>
            <xs:documentation>Tipo Tipo de Captura:
                1: Boca do caixa
                2: Arrecadação eletrônica
                3: Internet c/ fatura
                4: Outros meios c/ fatura
                5: Corresp. c/ fatura
                6: Telefone c/ fatura
                A: Boca do caixa s/ fatura
                B: Arrecadação eletrônica s/ fatura
                C: Internet s/ fatura
                D: Corresp. s/ fatura
                E: Telefone s/ fatura
                F: Outros meios s/ fatura
                N: Transação normal
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="duae:TString">
            <xs:maxLength value="1"/>
            <xs:minLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TCodBanco">
        <xs:annotation>
            <xs:documentation>Tipo Código do Banco</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{3}"/>
        </xs:restriction>
    </xs:simpleType>
  <xs:simpleType name="TString">
		<xs:annotation>
			<xs:documentation>Tipo string genérico</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:whiteSpace value="preserve"/>
			<xs:pattern value="[!-ÿ]{1}[ -ÿ]{0,}[!-ÿ]{1}|[!-ÿ]{1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TVersao">
		<xs:annotation>
			<xs:documentation>Tipo versão</xs:documentation>
		</xs:annotation>
        <xs:restriction base="xs:string">
            <xs:whiteSpace value="preserve"/>
            <xs:pattern value="[0-9]{1,5}\.[0-9]{2}"/>
        </xs:restriction>
	</xs:simpleType>
</xs:schema>
